.our_advantages {
    background-color: rgba(241, 233, 233, .5);
}

.advantages_full {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.advantages_title {
    padding: 20px 0;
    text-align: center;
    color: rgb(37, 16, 16);
    font-size: 1.5rem;
}

.advantage_text{
    line-height: 30px;
    font-size: 1.1rem;
    padding: 20px 0;
}
.lead span {
    color: rgb(19, 19, 241);
    font-weight: 700;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media(max-width:768px){
    .advantages_full {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}